<div id="PrintComponent" class="print-template">
    <div class="print-footer footer-right">
        <span>哇系頁尾啦</span>
    </div>
    <div class="print-page print-cover-page">
        <div class="cover-headline-block">
            <h1 class="title">快樂來至於滿足感</h1>
            <h2 class="sub-title">吃飽沒?</h2>
        </div>
        <div class="cover-photo-block">
            <img class="photo" src="./assets/02.jpg" alt="">
        </div>
        <div class="cover-info-block">
            <p class="author">作者：
                <span class="underline">林小肥</span>
            </p>
            <p class="date">日期：
                <span class="underline">2018/04/01</span>
            </p>
        </div>
        <div class="page-number"></div>
    </div>
    <div class="print-page">
        <h3 class="page-title">相關照片</h3>
        <table class="print-table">
            <tr>
                <td>
                    <div class="td-img">
                        <img src="./assets/02.jpg" alt="">
                    </div>
                </td>
                <td>
                    <div class="td-img">
                        <img src="./assets/02.jpg" alt="">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-description">
                        <span>測試測試</span>
                    </div>
                </td>
                <td>
                    <div class="td-description">
                        <span>測試測試</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-img">
                        <img src="./assets/02.jpg" alt="">
                    </div>
                </td>
                <td>
                    <div class="td-img">
                        <img src="./assets/02.jpg" alt="">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-description">
                        <span>測試測試</span>
                    </div>
                </td>
                <td>
                    <div class="td-description">
                        <span>測試測試</span>
                    </div>
                </td>
            </tr>
        </table>
        <div class="page-number"></div>
    </div>
</div>